<!DOCTYPE html>
<html lang = "en">
<head>
    <style>
        h1{text-align: center;}
        form{text-align: center;}
        p{text-align: center;}
        body{text-align: center;}
    </style>
</head>
<body>
    {% with messages = get_flashed_messages () %}
    {% if messages %} {% for message in messages %}
    <b>{{message}}</b> 
    {% endfor %} 
    {% endif %}
    {% endwith %}
    <h1 style="font-weight: bold">Are you targeting another group this session?</h1>
    <form action="/continue_response" method="POST">
        <button type="submit" name="continue">Target another muscle group</button>
        <button type="submit" name="end" formaction="/end_workout"> End Workout </button>
     </form>