<!DOCTYPE html>
<html lang = "en">
<head>
    <style>
        h1{text-align: center;}
        h2{text-align: center;}
        form{text-align: center;}
        h3{text-align: center;}
        body{text-align: center;}
    </style>
</head>
<body>
 <h1>Workouts for {{target_area}}:</h1>
 {% for workout in results %}
    <h2>{{workout['name']}}. Equipment Needed: {{workout['equipment']}}.</h2>
 {% endfor %}

<br>
<h3>
    Store set count for muscle group below (login required!)
</h3>
 <form action="/handle_workout_submission" method="POST">
    <select name="workout">
    {% for workout in results %}
    <option value= "{{workout.name}}">{{workout['name']}}</option>
    {% endfor %}<br>
    </select><br>
    <label for="sets">Number of sets:</label>
    <input type="text" id="sets" name="sets" value=""><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>