<!DOCTYPE html>
<html lang = "en">
<head>
    <style>
        h1{text-align: center;}
        h2{text-align: center;}
        form{text-align: center;}
        h3{text-align: center;}
        body{text-align: center;}
    </style>
</head>
<body>
 <h1>Workouts for {{target_area}}:</h1>
 {% for workout in results %}
    <h2>{{workout['name']}}. Equipment Needed: {{workout['equipment']}}.</h2>
 {% endfor %}
<br>
<h3>
    Store set count for muscle group below (login required!)
</h3>
 <form action="/handle_workout_submission" method="POST">
    <label for="target_area">Target Area: </label>
    <input type="text" name="target_area" value="{{target_area}}" readonly><br>
    <label for="sets">Number sets this session: </label>
    <input type="text" id="sets" name="sets" value=""><br>
    <input type="submit" value="Add Target Group">
    <button type="submit" name="index" formaction="/"> Home </button>
 </form>
</body>
</html>