<!DOCTYPE html>
<html lang = "en">
<head>
    <style>
        h1{text-align: center;}
        form{text-align: center;}
        p{text-align: center;}
        body{text-align: center;}
    </style>
</head>
<body>
    {% with messages = get_flashed_messages () %}
    {% if messages %} {% for message in messages %}
    <b>{{message}}</b> 
    {% endfor %} 
    {% endif %}
    {% endwith %}
    <h1 style="font-weight: bold">Find more workouts</h1>
    <form action="/handle_workout_search" method="POST">
        <label for="targetArea">Target Area:</label>
        <input type="text" id="targetArea" name="targetArea" value="">
        <label for="difficulty">Difficulty:</label>
        <input type="text" id="difficulty" name="difficulty" value=""><br>
        <input type="submit" value="Find Workouts">
    </form>
    <p>Target Area Options: abdominals, abductors, adductors, biceps,
                            calves, chest, forearms, glutes, hamstrings,
                            lats, neck, quadriceps, traps, or triceps

       Difficulty Options: beginner, intermediate, or expert  
    </p><br>
    <!-- TODO: Create 'End Workout' page, add link here-->
    <form action="/end_workout" method="POST">
        <input type="submit" value="End and Save Workout">
    </form>
</body>
</html>