<!DOCTYPE html>
<html lang = "en">
<head>
    <style>
        h1{text-align: center;}
        form{text-align: center;}
        p{text-align: center;}
        h2{text-align: center;}
    </style>
</head>
<body>
    {% with messages = get_flashed_messages () %}
    {% if messages %} {% for message in messages %}
    <b>{{message}}</b> 
    {% endfor %} 
    {% endif %}
    {% endwith %}
    <h1 style="font-weight: bold">Build Today's Workout</h1>
    <form action="/handle_workout_search" method="POST">
        <label for="targetArea">Target Area:</label>
        <input type="text" id="targetArea" name="targetArea" value="">
        <label for="difficulty">Difficulty:</label>
        <input type="text" id="difficulty" name="difficulty" value=""><br>
        <input type="submit" value="Find Workouts">
    </form>
    <p>Target Area Options: abdominals, abductors, adductors, biceps,</p>
    <p>                     calves, chest, forearms, glutes, hamstrings,</p>
    <p>                     lats, neck, quadriceps, traps, or triceps</p><br>

    <p>Difficulty Options: beginner, intermediate, or expert  </p><br>
    <h2>Your last workout: {{last_workout}}</h2><br>
    <a href={{login_link}}> Login or Sign up</a><br>
    <a href={{logout_link}}> Logout if logged in</a>
</body>
</html>