<!DOCTYPE html>
<html lang = "en">
<head>
    <style>
        h1{text-align: center;}
        form{text-align: center;}
        body{text-align: center;}
        h2{text-align: center;
            white-space: pre-wrap;}
    </style>
</head>
<body>
    {% with messages = get_flashed_messages () %}
    {% if messages %} {% for message in messages %}
    <b>{{message}}</b> 
    {% endfor %} 
    {% endif %}
    {% endwith %}
    <h1 style="font-weight: bold">Build Today's Workout</h1>
    <form action="/handle_workout_search" method="POST">
    <fieldset>
        <legend>Select a target area:</legend>
        <div>
            <input type="radio" id="target1" name="targetArea" value="abdominals"/>
            <label for="target1">Abdominals</label>

            <input type="radio" id="target2" name="targetArea" value="abductors"/>
            <label for="target2">Abductors</label>

            <input type="radio" id="target3" name="targetArea" value="adductors"/>
            <label for="target3">Adductors</label>

            <input type="radio" id="target4" name="targetArea" value="biceps"/>
            <label for="target4">Biceps</label>

            <input type="radio" id="target5" name="targetArea" value="calves"/>
            <label for="target5">Calves</label>

            <input type="radio" id="target6" name="targetArea" value="chest"/>
            <label for="target6">Chest</label>

            <input type="radio" id="target7" name="targetArea" value="forearms"/>
            <label for="target7">Forearms</label>

            <input type="radio" id="target8" name="targetArea" value="glutes"/>
            <label for="target8">Glutes</label>

            <input type="radio" id="target9" name="targetArea" value="hamstrings"/>
            <label for="target9">Hamstrings</label>

            <input type="radio" id="target10" name="targetArea" value="lats"/>
            <label for="target10">Lats/back</label>

            <input type="radio" id="target11" name="targetArea" value="quadriceps"/>
            <label for="target11">Quads</label>

            <input type="radio" id="target12" name="targetArea" value="traps"/>
            <label for="target12">Traps</label>

            <input type="radio" id="target13" name="targetArea" value="triceps"/>
            <label for="target13">Triceps</label>
        </div>
        <div>
            <input type="radio" id="dif1" name="difficulty" value="beginner"/>
            <label for="dif1">Beginner</label>

            <input type="radio" id="dif2" name="difficulty" value="intermediate"/>
            <label for="dif2">Intermediate</label>

            <input type="radio" id="dif3" name="difficulty" value="expert"/>
            <label for="dif3">Expert</label>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </fieldset>
    </form>
    <form action="/handle_text_search" method="POST">
        <label for="search_phrase">Search for workouts by name:</label>
        <input type="text" id="search_phrase" name="search_phrase" value=""><br>
        <input type="submit" value="Search"><br>
    </form>
    {%if user.is_authenticated %}
    <h2>Your last workout: {{last_workout}}</h2><br>
    <a href={{profile_link}}>Workout History (login required!)</a><br>
    <a href={{logout_link}}> Logout if logged in</a>
    {%else%}
    <a href={{login_link}}> Login or Sign up</a><br>
    {%endif%}
</body>
</html>